<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shutdown</title>
</head>
<body>
    <p>Flask client will shutdown in <span id="timer"></span> s</p>
</body>

<script>
    const timer = document.getElementById('timer');
    let count = {{ delay }};
    timer.innerHTML = count;

    const interval = setInterval(() => {
        count--;
        timer.innerHTML = count;
        if (count === 0) {
            clearInterval(interval);
            window.location.href = '/';
        }
    }, 1000);


</script>
</html>