.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link {
  border: 4px solid #0039a6;
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 1rem;
  font-weight: bolder;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
