<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control page</title>
</head>
<body>
    <form action="{{ url_for('send') }}" method="post">
        <label for="data"></label>
        <input type="text" name="data" id="data">
        <input type="submit" value="Send">
    </form>
    <form action="{{ url_for('shutdown') }}" method="post">
        <input type="hidden" name="shutdown_delay" value="10">
        <input type="submit" value="Shutdown">
    </form>
</body>
</html>